{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@numeral/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
